name: Build PR
on: [ pull_request ]

jobs:
  build:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: gradle/wrapper-validation-action@v3
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: corretto
          cache: gradle

      - name: Build shadowjar
        run: ./gradlew shadowjar
